*{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

.main-container{
    display: flex;
    flex-direction: column;
    padding: 100px;
}

p{
    padding: 10px;
    font-size: 20px;
}

input{
    padding: 15px;
    border: none;
    outline: none;
    border-bottom: 1px solid;
}

#btn{
    background-color: white;
    color: black;
    padding: 12px;
    width: 70px;
    margin-top: 20px;
    border: none;
    text-decoration: none;
}

#output{
    margin-top: 20px;
    color: white;
}